<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.lazybook.birthday</string>
    <!-- Specify how to run your program here -->
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python</string>
        <string>/Users/YOUR_USERNAME_HERE/Documents/LazyBook/src/main.py</string>
    </array>
    <!-- Run every day -->
    <key>StartInterval</key>
    <integer>86400</integer><!-- 1 day in seconds -->
</dict>
</plist>
<!-- save to ~/Library/LaunchAgents/ -->
<!-- Resources: http://killtheyak.com/schedule-jobs-launchd/
                http://osxdaily.com/2011/03/08/remove-an-agent-from-launchd/ -->
                
<!-- to load the script:  launchctl load ~/Library/LaunchAgents/org.lazybook.birthday.plist -->
<!-- to start the script: launchctl start org.lazybook.birthday -->

<!-- to stop the script (requires you to reload it to start): launchctl remove org.lazybook.birthday -->